html{
    font-family: 'Space Mono', monospace;
    font-size: 80%;
}
body{
margin: 0;
padding: 0;
background:#F6F5EF;
}

.nav-bar{    
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 270px;
    align-items: center;
}
.logo{
    margin: 0;
    width: 115px;
    height: 70px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-content: center;
    justify-content: center;    
}
.logo p{
    font-size: 18px;
    font-weight: 700;
}
.fingertip{
    width: 45px;
    height: 45px;
}
.sec-nav{
    width: 115px;
    height: 45px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bulbicon{
    width: 18px;
    height: 18px;
}

.sec-nav span{
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    margin-right: 20px;
}


.wrapper{
    width: 1100px;
    height: 680px;
    background: #F6F5EF;
    margin: 0 auto;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.container .left{
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*LEFT-COL*/
.left-col{
    width: 500px;
    height: 100%;
    font-family:'space mono';
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.illustration{
    margin-top: 15px;
    width: 100%;
    height: 215px;
}
.vctr{
    width: 385px;
    height: 215px;
}
.button{
    width: 150px;
    height: 75px;
}
.h-txt h1{
    margin: 0;
    font-size: 3.9em;
    line-height: 1.2em;

}
.p-txt{
    margin-top: 40px;
    width: 100%;
}
.p-txt p{
    margin: 0;
    margin-top: -0.4em;
    font-size: 1.1em;
    font-weight: 500;
}
.p-txt{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.button span{
    display: block;
    width: 88px;
    background: #000000;
    color: white;
    padding: 18px;
}
/*RIGHT-COL*/
.right-col{
    position: relative;
    width: 465px;
    height: 620px;
}
.star{
    position: absolute;
    height: 90px;
    width: 90px;
    top: 255px;
    right: 122px;
}
.row1{
    width: 470px;
    height: 150px;
}
.col1, .col3, .col4{
    width: 150px;
    height: 150px;
}


.row-one{
    display: flex; 
}
.row-two{
    display: flex;

}
.row-three{
    display: flex;
}
.row-four{
    display: flex;
}
.one-1{
    background: #F9EA65;
    border-radius: 0px 75px 0px 0px;
}
.one-2{
    background: #E2B7E0;
    border-radius: 0px 0px 75px 0px;

}
.one-3{
    background: #000000;
    border-radius: 75px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.two-1{
    width: 300px;
    height: 150px;
    border-radius: 75px 0px 75px 0px;
    background-image: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.two-2{
    width: 150px;
    height: 150px;
    background: #F9EA65;
    border-radius: 0px 0px 0px 75px;
}
.three-1{
    background: #000000;
    border-radius: 75px 0px 0px 0px;
}
.three-2{
    background: #E2B7E0;
    border-radius: 50%;
}
.three-3{
    background-image: url(../images/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -40px 0px;
    border-radius: 75px 0px 0px 0px;
}
.four-1{
    background-image: url(../images/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
.four-2{
    background: #F9EA65;
}
.four-3{
    background: #E2B7E0;
    border-radius: 0px 75px 0px 75px;
}
.one-3 span{
    font-size: 12px;
    color: #F6F5EF;
    margin-bottom: 20px;
}